body {
    margin: 0;
    font-family: sans-serif;
}
#part-one {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 200px;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-right: 150px;
}
#header {
    display: flex;
    justify-content: left;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 50px;
}
#logo {
    margin: auto;
    margin-left: 0;
    font-size: 24px;
    color: #F9FAF8;
}
#section2 {
    display: flex;
    justify-content: space-between;
}
#left {
    width: 400px;
}
h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0px;
}
#subtext {
    font-size: 18px;
    color: #E5E7EB
}
.button {
    background-color: #3882F6;
    width: 100px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
#img-placeholder {
    background-color: #6D747D;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

#part-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
h2 {
    font-size: 36px;
    color: #1F2937;
}
#img-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.img-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}
.rounded-square {
    border: 2px;
    border-style: solid;
    border-color: #3882F6;
    height: 150px;
    width: 150px;
}
.img-sub {
    color: #444;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    line-height: 100%;
}

#part-three {
    background-color: #E5E7EB;
    padding: 100px;
    padding-left: 275px;
    padding-right: 275px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items:flex-end;
}
#quote-text {
    font-size: 36px;
    font-style: italic;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 0;
}
#author {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-right: 30px;
}

#part-four {
    margin-top: 100px;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 100px;
}
#blue-container {
    width: 100%;
    background-color: #3882F6;
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
}
h3 {
    margin: 0;
}
#sign-up-message {
    margin: 0;
    color: lightgray;
}
#button2 {
    border-width: 2px;
    border-style: solid;
    border-color: white;
}
#footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}